#poem-select {
    margin-top: 0.4em;
}

.container-fluid {
    background-color: #ffffff;
}

.myrddin-header {
    background-color: #9c9487;
}

.myrddin-header a {
    color: #f3ede2;
}

.myrddin-header a:link {
    color: #f3ede2;
}

.myrddin-header a:link:hover {
    color: #f3ede2;
    text-decoration: underline;
}

.myrddin-header a:link:visited {
    color: #f3ede2;
    text-decoration: underline;
}

.myrddin-header .dropdown-menu a, .myrddin-header .dropdown-menu a:link {
    color: #000;
}

.myrddin-header .dropdown-menu a:hover {
    color: #000;
}

.myrddin-left-content-wrapper {
    border-right: 1px solid #e0e0e0; 
    height: 650px;
}

.myrddin-left-content {
    border-top: 1px solid #e0e0e0;
    padding-bottom: 40px;
    padding-left: 100px;    
    padding-top: 30px;
}

.myrddin-right-content {
    padding-left: 50px; 
    padding-right: 50px;    
    padding-top: 30px;
}

.myrddin-footer {
    background-color: #9c9487;
    padding-top: 20px;
}

.myrddin-skipTo:link {
    position: absolute;
    left: -5000px;
    top: 0;
    color: #fff;
    padding: 10px;
}

.tab-content {
    padding-top: 48px;
}