.container-fluid {
    background-color: #ffffff;
}

.myrddin-left-content{
    border-top: 1px solid #e0e0e0;     
    padding-top: 50px;
}

.myrddin-footer {
    background-color: rgb(230, 240, 240);
    margin-top: 100px;
}

.myrddin-skipTo:link {
    position: absolute;
    left: -5000px;
    top: 0;
    color: #fff;
    padding: 10px;
}