<!DOCTYPE html>
{% load static %}
{% load flatpages %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description"
	content="A digital edition of poety relating to Myrddin the magician">
<title>{% block title %}{% endblock %}{{ flatpage.title }} - at Canu Myrddin</title>

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{% block google %}{% endblock %}{{ flatpage.title }}">
<meta itemprop="description" content="A digital edition of poety relating to Myrddin the magician">
<meta itemprop="image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://myrddin.swansea.ac.uk">
<meta property="og:type" content="website">
<meta property="og:title" content="{% block facebook %}{% endblock %}{{ flatpage.title }}">
<meta property="og:description" content="A digital edition of poety relating to Myrddin the magician">
<meta property="og:image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% block twitter %}{% endblock %}{{ flatpage.title }}">
<meta name="twitter:description" content="A digital edition of poety relating to Myrddin the magician">
<meta name="twitter:image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">
<meta name="twitter:image:alt" content="Canu Myrddin image">
<meta name="twitter:site" content="@myrddin_project">

<link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" />
{% include "myrddin/bootstrap-css.html" %} 
{% include "myrddin/myrddin-css.html" %}	
{% include "myrddin/myrddin-js-head.html" %}
{% include "myrddin/bootstrap-js.html" %}
{% include "myrddin/myrddin-blockUI.html" %}
{% include "myrddin/myrddin-js.html" %}
</head>
<body>
<a href="#page-content" class="myrddin-skipTo">skip to content</a>
	<div class="container-fluid">	  
		<div class="row myrddin-header">
			<nav class="navbar navbar-expand-lg col-md-12 myrddin-nav">				
			<a class="navbar-brand" href="/">
			    <img src="/static/img/logo/481px-Merlin_from_Le_Morte_d’Arthur_-_Beardsley_-_Early_Works_plate_67.svg.png" height="60" alt="myrddin Logo">
			  </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>

			  </button>				  			  			
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">		    	
			    <ul class="navbar-nav">
				    <li class="nav-item">
   				      <a class="nav-link" href="/">Home</a>
				    </li>
				    <li class="nav-item dropdown">		    
			      		<a class="nav-link dropdown-toggle" href="#" id="projectNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Project</a>
						<div class="dropdown-menu" aria-labelledby="projectNavbarDropdown">
						   <a class="dropdown-item" href="/project/about/">About</a>
						   <a class="dropdown-item" href="/project/funders/">Funders</a>
						   <a class="dropdown-item" href="/project/team/">Project Team</a>				   						   					   
						</div>			      		
				    </li>				    
				    
				    <li class="nav-item dropdown">			      
			      		<a class="nav-link dropdown-toggle" href="#" id="editionNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Edition</a>
						<div class="dropdown-menu" aria-labelledby="editionNavbarDropdown">
						   <a class="dropdown-item" href="/introduction/">Introduction</a>
						   <a class="dropdown-item" href="/bibliography/">Bibliography</a>			   						   
						</div>			      		
				    </li>		    				    			     
			    </ul>		    
			  </div>  		  			
			</nav>			
		</div>				
		<div class="row myrddin-main-content">
			<div class="col">
				<div class="row">
					{% if '/home/' in request.path or '/about/' in request.path or '/blog/' in request.path or '/news/' in request.path or 'letter-view' in request.path or 'letter-detail' in request.path %}				
					<div class="col-md-9">
					{% else %}
					<div class="col-md-12">
					{%endif%}
						<div class="row">
								<div class="col myrddin-left-content-wrapper">
									<div class="myrddin-breadcrumb">
										{% block breadcrumb_title %}{% endblock %}
									</div>								
									<div class="myrddin-left-content">
									{% if '/home/' in request.path %}<h1 class="text-center">{% else %}<h1>{% endif %}{{ flatpage.title }}{% block page_title %}{% endblock %}</h1>
										{{ flatpage.content }}																	
										
										{% block content %}{% endblock %}
										
										{% if request.path == '/blog/' %}
											{% get_flatpages '/blog/' as blog_pages %}
											<ul>
											    {% for page in blog_pages %}
												    {% if page.url != '/blog/' %}
												        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
												    {% endif %}
											    {% endfor %}
											</ul>
										{% endif %}		
										
										{% if request.path == '/news/' %}
											{% get_flatpages '/news/' as news_pages %}
											<ul>
											    {% for page in news_pages %}
												    {% if page.url != '/news/' %}
												        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
												    {% endif %}
											    {% endfor %}
											</ul>
										{% endif %}
										<hr>
									</div>								 
								</div>
						</div>						
					</div>		
			</div>
		</div>
		<div class="row myrddin-footer">
			<div class="col-md-12 hosting-rights">
				<p>Developed, Hosted and published on behalf of Canu Myrddin by the <a href="https://www.swansea.ac.uk/digital-humanities/" target="blank">Digital Humanities Team at Swansea University</a> | <a href="/project/about/" target="blank"> Copyright&copy; myrddin</a></p>
			</div>
			<div class="col-md-12 funders-strip">
				<p>
					<span class="funder-logo"><a href="https://ahrc.ukri.org/" target="_blank"><img width="200" height="133" src="/static/img/funders/art-humanities-council-logo-300x200.jpg" alt="Arts and Humanities Research Council"></a></span></p>
			</div>			
		</div>
	</div>
</div>
{% include "myrddin/myrddin-cookie-notice.html" %} 
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "http://myrddin.swansea.ac.uk/",
	"name": "The Elizabeth Montagu Correspondence Online (myrddin)",
	"description": "A digital edition of the complete letters of Elizabeth Montagu 1718-1800 - ISSN 2753-9091",
	"subjectOf": "Elizabeth Montagu",
	"temporalCoverage": "1718/1800",
	"producer": "Cardiff University, University of Wales Trinity Saint David and Swansea University",
	"provider": "Digital Humanities Team at Swansea University",
	"publisher": "Digital Humanities at Swansea University",
	"genre": "Poetry",
	"thumbnailUrl": "http://myrddin.swansea.ac.uk/static/img/logo/logo-2-web-ready.png"
}
</script>     
</body>
</html>