<!DOCTYPE html>
{% load static %}
{% load flatpages %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description"
	content="A digital edition of poety relating to Myrddin the magician">
<title>{% block title %}{% endblock %}{{ flatpage.title }} - at Canu Myrddin</title>

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{% block google %}{% endblock %}{{ flatpage.title }}">
<meta itemprop="description" content="A digital edition of poety relating to Myrddin the magician">
<meta itemprop="image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://myrddin.swansea.ac.uk">
<meta property="og:type" content="website">
<meta property="og:title" content="{% block facebook %}{% endblock %}{{ flatpage.title }}">
<meta property="og:description" content="A digital edition of poety relating to Myrddin the magician">
<meta property="og:image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% block twitter %}{% endblock %}{{ flatpage.title }}">
<meta name="twitter:description" content="A digital edition of poety relating to Myrddin the magician">
<meta name="twitter:image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">
<meta name="twitter:image:alt" content="Canu Myrddin image">
<meta name="twitter:site" content="@myrddin_project">

<link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" />
{% include "myrddin/bootstrap-css.html" %} 
{% include "myrddin/myrddin-css.html" %}	

{% include "myrddin/tei-pub-css.html" %}
{% include "myrddin/tei-pub-deps.html" %}

{% include "myrddin/myrddin-js-head.html" %}
{% include "myrddin/bootstrap-js.html" %}
{% include "myrddin/myrddin-blockUI.html" %}

</head>
<body>
	<div class="left-poem-container">
		<div>
			<div>
				<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_011.xml" odd="myrddin">
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view src="myrddin" xpath="/TEI/text/body/div/div/head" subscribe="myrddin" disable-history="true">
						<pb-param name="header" value="short"></pb-param>
					</pb-view>
				</pb-page>
		
			</div>
			<div>
				<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_011.xml" odd="myrddin">
						<h3>Please wait - content is loading...</h3>
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view id="poem-content" src="myrddin" xpath="/TEI/text/body/div/div/div[contains(concat(' ', @xml:id, ' '), 'testun_gwr')][1]" emit="myrddin" subscribe="myrddin" disable-history="true"/>
				</pb-page>
			</div>
		</div>
	
	</div>
</body>
</html>