
<div class="left-poem-container">
	<!-- <p>
		<button type="button" class="btn btn-primary" id="gwr_yes">Show Original Version</button>
		<button type="button" class="btn btn-primary" id="mod_yes">Show Modern Version</button>
	</p>	 -->
	<div class="editor" id="editor">
		<pb-view id="poem-editor" src="myrddin" xpath="/TEI/text/body/div/div/note" emit="myrddin" subscribe="myrddin" disable-history="true"/>
	</div>
	<div>
		<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
			<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
			</pb-document>
			<pb-progress></pb-progress>
			<pb-view src="myrddin" xpath="/TEI/text/body/div/div/head" subscribe="myrddin" disable-history="true">
				<pb-param name="header" value="short"></pb-param>
			</pb-view>
		</pb-page>
	</div>
	<div>
		<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded" id="gwr">
			<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin"></pb-document>
			<pb-progress>Please wait - content is loading...</pb-progress>
			<pb-view id="poem-left-content" type="single" src="myrddin" xpath="/TEI/text/body/div/div/div[contains(concat(' ', @xml:id, ' '), 'testun_gwr')][1]" emit="myrddin" subscribe="myrddin" disable-history="true"/>
		</pb-page>
		<!-- <pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded" id="mod">
			<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin"></pb-document>
			<pb-progress>Please wait - content is loading...</pb-progress>
			<pb-view type="single" src="myrddin" xpath="/TEI/text/body/div/div/div[contains(concat(' ', @xml:id, ' '), 'testun_mod')][1]" emit="myrddin" subscribe="myrddin" disable-history="true"/>
		</pb-page> -->
	</div>
</div>
<hr>

