{% extends "myrddin/base.html" %}

{% block title %}
Canu Myrddin
{% endblock %}

{% block edited-text %}

<div class="left-poem-container">
	<div class="editor">
		<pb-view id="poem-content" src="myrddin" xpath="/TEI/text/body/div/div/note" emit="myrddin" subscribe="myrddin"/>
	</div>
	<div>
		<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
			<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
			</pb-document>
			<pb-progress></pb-progress>
			<pb-view src="myrddin" xpath="/TEI/text/body/div/div/head" subscribe="myrddin">
				<pb-param name="header" value="short"></pb-param>
			</pb-view>
		</pb-page>

	</div>
	<div>
		<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
			<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
				<h3>Please wait - content is loading...</h3>
			</pb-document>
			<pb-progress></pb-progress>
			<pb-view id="poem-content" src="myrddin" xpath="/TEI/text/body/div/div/div[contains(concat(' ', @xml:id, ' '), 'testun_gwr')][1]" emit="myrddin" subscribe="myrddin"/>
		</pb-page>
	</div>

</div>
<hr>
{{ request }}
<!--
	<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="customSwitch1">
	<label class="custom-control-label" for="customSwitch1">Toggle edited text modern spelling</label>
</div>
-->

<script>
    const checkbox = document.querySelector('#customSwitch1');

	checkbox.addEventListener('click', function handleClick() {
		if(this.checked) {
			console.log('toggle checked');
			pbEvents.emit('pb-update', 'myrddin', {
				xpath: "/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_testun_mod']"
			}, true);		

		} else {
			console.log('toggle unchecked');
		}     
		});

  </script>

{% endblock %}

{% block poems-metadata %}
	{% include "myrddin/poems-detail-card.html" %}
	<br/>
	{% include "myrddin/poems-archive-info.html" %} 
	<br/>
	{% include "myrddin/poems-location-detail.html" %}
{% endblock %}
