{% extends "myrddin/base.html" %}

{% block edited-text %}
<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="customSwitch1">
	<label class="custom-control-label" for="customSwitch1">Toggle edited text modern spelling</label>
</div>

<div class="poems-container">
	<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
	    <pb-document id="myrddin" path="myrddin{{ myrddin_id }}.xml" odd="myrddin">
	    	<h3>Please wait - poems transcript is loading...</h3>
    	</pb-document>
    	<pb-progress></pb-progress>
	    <pb-view src="myrddin" xpath="//teiHeader/fileDesc/titleStmt/title" subscribe="myrddin">
	        <pb-param name="header" value="short"></pb-param>
		</pb-view>
	    <pb-view id="poem-content" src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin{{ myrddin_id }}testun_gwr']" emit="myrddin" subscribe="myrddin"/>
	</pb-page>
</div>

<script>
    const checkbox = document.querySelector('#customSwitch1');

	checkbox.addEventListener('click', function handleClick() {
		if(this.checked) {
			console.log('toggle checked');
			pbEvents.emit('pb-update', 'myrddin', {
				xpath: "/TEI/text/body/div/div/div[@xml:id='myrddin{{ myrddin_id }}testun_mod']"
			}, true);		

		} else {
			console.log('toggle unchecked');
		}     
		});

  </script>

{% endblock %}

{% block poems-metadata %}
	{% include "myrddin/poems-detail-card.html" %}
	<br/>
	{% include "myrddin/poems-archive-info.html" %} 
	<br/>
	{% include "myrddin/poems-location-detail.html" %}
{% endblock %}
