<!DOCTYPE html>
{% load static %}
{% load flatpages %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description"
	content="A digital edition of poetry relating to Myrddin the magician">
<title>{% block title %}{% endblock %}{{ flatpage.title }} {{ title }} - at Canu Myrddin</title>

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{% block google %}{% endblock %}{{ flatpage.title }} {{ title }}">
<meta itemprop="description" content="A digital edition of poetry relating to Myrddin the magician">
<meta itemprop="image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://myrddin.swansea.ac.uk">
<meta property="og:type" content="website">
<meta property="og:title" content="{% block facebook %}{% endblock %}{{ flatpage.title }} {{ title }}">
<meta property="og:description" content="A digital edition of poetry relating to Myrddin the magician">
<meta property="og:image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% block twitter %}{% endblock %}{{ flatpage.title }} {{ title }}">
<meta name="twitter:description" content="A digital edition of poerty relating to Myrddin the magician">
<meta name="twitter:image" content="http://myrddin.swansea.ac.uk/static/img/logo/myrddin-logo-google-search.png">
<meta name="twitter:image:alt" content="Canu Myrddin image">
<meta name="twitter:site" content="@myrddin_project">

<link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" />
{% include "myrddin/bootstrap-css.html" %} 
{% include "myrddin/myrddin-css.html" %}	

{% include "myrddin/tei-pub-css.html" %}
{% include "myrddin/tei-pub-deps.html" %}

{% include "myrddin/myrddin-js-head.html" %}
{% include "myrddin/bootstrap-js.html" %}
{% include "myrddin/myrddin-blockUI.html" %}

</head>
<body>
	<div class="container-fluid">
		<h1>Get Manuscripts</h1>
		<div class="tab-pane fade show active" id="llawysgrifau" role="tabpanel" aria-labelledby="llawysgrifau-tab">
			{% if has_multiple_manuscripts == 1 %}
				<div class="form-group" id="manuscripts-select">
					<label for="manuscripts-select">Manuscripts: </label>
					<select class="form-select" aria-label="Manuscript Versions" id="manuscript-select" name="manuscript-select">
						<option selected>Dewis...</option>
						{% for m in manuscripts_ids_list %}
								<option value="{{ forloop.counter }}">{{ m|safe }}</option>
						{% endfor %}				
					</select>	
				</div>
			{% endif %}	
		<div class="poems-container">
			<p>Manuscript Version: {{ manuscript_version }}</p>
			<p>Manuscript XML ID: {{ current_manuscript_xml_id }}</p>
			<p>Manuscript Title: {{ manuscript_title }}</p>
			<p>Manuscript Type: {{ current_manuscript_type }}</p>
			<hr>
			<pb-page id="manuscript-view-page"  endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
				<pb-document id="myrddin" path="myrddin_009.xml" odd="myrddin">
					<h3>Please wait - content is loading...</h3>
				</pb-document>
				<pb-progress></pb-progress>
				<pb-view id="manuscript-content" src="myrddin" id="manuscript-view" xpath="//div[@xml:id='{{ current_manuscript_xml_id }}_{{ current_manuscript_type }}']" emit="myrddin" subscribe="myrddin" disable-history="true" >	
			</pb-page>
		</div>		
		<table class="table table-bordered table-dark">
			<thead>
			  <tr>
				<th scope="col">Variable</th>
				<th scope="col">Returned value</th>
			  </tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">request</th>
				<td>{{ request }}</td>
			</tr>				
			  <tr>
				<th scope="row">myrddin_id</th>
				<td>{{ myrddin_id }}</td>
			  </tr>
			  <tr>
				<th scope="row">poem_versions</th>
				<td>{{ poem_versions }}</td>
			  </tr>				  
			  <tr>
				<th scope="row">current poem_version</th>
				<td>{{ poem_version }}</td>
			  </tr>				  
			  <tr>
				<th scope="row">title</th>
				<td>{{ title }}</td>
			  </tr>				  	  
			  <tr>
				<th scope="row">has_multiple_manuscripts</th>
				<td>{{ has_multiple_manuscripts }}</td>
			  </tr>
			  <tr>
				<th scope="row">current manuscript_version</th>
				<td>{{ manuscript_version }}</td>
			  </tr>
			  <tr>
				<th scope="row">manuscripts_list</th>
				<td>{{ manuscripts_ids_list }}</td>
			  </tr>					  
			  <tr>
				<th scope="row">number of manuscripts</th>
				<td>{{ manuscripts_ids_count }}</td>
			  </tr>	
			  <tr>
				<th scope="row">manuscripts_xpath_query_url</th>
				<td>{{ manuscripts_ids_xpath_query_url }}</td>
			  </tr>
			  <tr>
				<th scope="row">exist_path</th>
				<td>{{ exist_path }}</td>
			  </tr>				  
			</tbody>
		  </table>
		</div>
	</div>
	<script language="JavaScript">
		$(function(){
			$("#version-select").change(function(){
				window.location='{{ request.path }}?v=' + this.value
			});
		});
	
		$(function(){
			$("#manuscript-select").change(function(){
				window.location='{{ request.path }}?v={{ poem_version }}&m=' + this.value
			});
		});			
	</script>
</body>
</html>