
{% load i18n %}
<div class="left-poem-container">
	<div>
		{% trans "inline_label_editor" %}: {{ editor_name }}
	</div>
	<div class="custom-control custom-switch">
		{% if modern_choice == 'yes' %}
			<input type="checkbox" class="custom-control-input" id="modernVersionSwitch" checked="checked">
		{% else %}
			<input type="checkbox" class="custom-control-input" id="modernVersionSwitch">
		{% endif %}
		<label class="custom-control-label" for="modernVersionSwitch">{% trans "inline_label_modern_spelling" %}</label>
	</div>
	<script>
		function validate() {
			const url = new URL(location.href);
			console.log('current URL is: ' + url);
			const params = new URLSearchParams(url.search);
			console.log('URL parameters are: ' + url);
			if (this.checked) {
				params.delete("mod");
				location.href = window.location.origin + window.location.pathname + "?" + params + "&mod=yes";
			} else {
				params.delete("mod");
				location.href = window.location.origin + window.location.pathname + "?" + params + "&mod=no";
			}
		}
		document.getElementById('modernVersionSwitch').addEventListener('click', validate);
	</script>
	<div>
		{% if modern_choice == 'yes' %}
			<pb-view id="poem-left-content" type="single" src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_{{ poem_version }}_testun_mod']" emit="myrddin" subscribe="myrddin" disable-history="true"/>
		{% else %}
			<pb-view id="poem-left-content" type="single" src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_{{ poem_version }}_testun_gwr']" emit="myrddin" subscribe="myrddin" disable-history="true"/>
		{% endif %}			
	</div>
</div>
<hr>

