<div class="right-poem-container">
	{% if versions|length > 1 %}
	<div class="versions">
		<div class="form-group" id="versions-select">
			<label for="version-select">Versions and additional material: </label>
			<select class="form-select" aria-label="Poem Versions" id="version-select" name="version-select">
				<option selected>Dewis...</option>
				{% for v in versions %}
					<option>{{ v|safe }}</option>
			  	{% endfor %}				
			</select>	
		</div>	
	</div>
	{% else %}
	<br>
	{% endif %}
	<ul class="nav nav-tabs" id="poem-tabs-links" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="cefndir-tab" data-toggle="tab" data-target="#cefndir" type="button" role="tab" aria-controls="cefndir" aria-selected="true">Cefndir</button>
		</li>								
		<li class="nav-item" role="presentation">
		<button class="nav-link" id="aralleiriad-tab" data-toggle="tab" data-target="#aralleiriad" type="button" role="tab" aria-controls="aralleiriad" aria-selected="false">Aralleiriad</button>
		</li>
		<li class="nav-item" role="presentation">
		<button class="nav-link" id="translation-tab" data-toggle="tab" data-target="#translation" type="button" role="tab" aria-controls="translation" aria-selected="false">Translation</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="esboniadol-tab" data-toggle="tab" data-target="#esboniadol" type="button" role="tab" aria-controls="esboniadol" aria-selected="false">Esboniadol</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="llawysgrifau-tab" data-toggle="tab" data-target="#llawysgrifau" type="button" role="tab" aria-controls="llawysgrifau" aria-selected="false">Llawysgrifau</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="modern-tab" data-toggle="tab" data-target="#modern" type="button" role="tab" aria-controls="modern" aria-selected="false">Modern</button>
		</li>																							
	</ul>
	<div class="tab-content overflow-auto" id="poem-tabs">
		<div class="form-group" id="versions-select">
			<label for="version-select">Versions and additional material: </label>
			<select class="form-select" aria-label="Poem Versions" id="version-select" name="version-select">
				<option selected>Dewis...</option>
				{% for v in poem_versions %}
					<option>{{ v|safe }}</option>
				  {% endfor %}				
			</select>	
		</div>
		<div class="tab-pane fade active" id="cefndir" role="tabpanel" aria-labelledby="cefndir-tab">
			<div class="poems-container">		
				<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
						<h3>Please wait - content loading...</h3>
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_{{ poem_version }}_cefndir']/note[@type='Nodyn_cefndir']" emit="myrddin" subscribe="myrddin" disable-history="true" >
					{% if keyword %}
					<pb-param name="query" value="{{ keyword }}" />
					{% endif %}
					</pb-view>	    
				</pb-page>
			</div>
		</div>										
		<div class="tab-pane fade" id="aralleiriad" role="tabpanel" aria-labelledby="aralleiriad-tab">
			<div class="poems-container">
				<pb-page endpoint="https://dh-existdb.swansea.ac.uk/exist/apps/myrddin" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
						<h3>Please wait - content loading...</h3>
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_{{ poem_version }}_aralleiriad']" emit="myrddin" subscribe="myrddin" disable-history="true" >
					{% if keyword %}
					<pb-param name="query" value="{{ keyword }}" />
					{% endif %}
					</pb-view>	    
				</pb-page>
			</div>
		</div>
		<div class="tab-pane fade" id="translation" role="tabpanel" aria-labelledby="translation-tab">
			<div class="poems-container">
				<pb-page endpoint="" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
						<h3>Please wait - content loading...</h3>
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_{{ poem_version }}_translation']" emit="myrddin" subscribe="myrddin" disable-history="true" >
					{% if keyword %}
					<pb-param name="query" value="{{ keyword }}" />
					{% endif %}
					</pb-view>	    
				</pb-page>
			</div>
		</div>		
		<div class="tab-pane fade" id="esboniadol" role="tabpanel" aria-labelledby="esboniadol-tab">
			<div class="poems-container">
				<pb-page endpoint="" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
						<h3>Please wait - content loading...</h3>
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_{{ poem_version }}_esboniadol']/note[@type='Nodiadau_esboniadol']" emit="myrddin" subscribe="myrddin" disable-history="true" >
					{% if keyword %}
					<pb-param name="query" value="{{ keyword }}" />
					{% endif %}
					</pb-view>	    
				</pb-page>
			</div>
		</div>
		<div class="tab-pane fade" id="llawysgrifau" role="tabpanel" aria-labelledby="llawysgrifau-tab">
			<p class="bg-info text-dark">View Type: {{ current_manuscript_type }}</p>
			<!--
				<iframe src="https://viewer.library.wales/dist/uv.html#?manifest=https://damsssl.llgc.org.uk/iiif/2.0/4400778/manifest.json&c=0&m=0&cv=21&config=../config/standalone.json&locales=en-GB:English%20(GB),cy-GB:Cymraeg,fr-FR:Fran%C3%A7ais%20(FR),pl-PL:Polski,sv-SE:Svenska&xywh=363,2529,2261,1898&r=0" width="560" height="420" allowfullscreen frameborder="0"></iframe>
			-->
			{% if has_multiple_manuscripts == 1 %}
				<div class="form-group" id="manuscripts-select">
					<label for="manuscripts-select">Manuscripts: </label>
					<select class="form-select" aria-label="Manuscript Versions" id="manuscript-select" name="manuscript-select">
						<option selected>Dewis...</option>
						{% for m in manuscripts_ids_list %}
								<option value="{{ forloop.counter }}">{{ m|safe }}</option>
						{% endfor %}				
					</select>	
				</div>
			{% endif %}
			<div class="poems-container">
				<pb-page id="manuscript-view-page" endpoint="" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
						<h3>Please wait - content loading...</h3>
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view id="manuscript-content" src="myrddin" id="manuscript-view" xpath="//div[@xml:id='{{ current_manuscript_xml_id }}_{{ current_manuscript_type }}']" emit="myrddin" subscribe="myrddin" disable-history="true" >					
					{% if keyword %}
					<pb-param name="query" value="{{ keyword }}" />
					{% endif %}
					</pb-view>	    
				</pb-page>
			</div>
		</div>
		<div class="tab-pane fade" id="modern" role="tabpanel" aria-labelledby="modern-tab">
			<div class="poems-container">
				<pb-page endpoint="" emit="myrddin" class="embedded">
					<pb-document id="myrddin" path="myrddin_{{ myrddin_id }}.xml" odd="myrddin">
						<h3>Please wait - content loading...</h3>
					</pb-document>
					<pb-progress></pb-progress>
					<pb-view src="myrddin" xpath="/TEI/text/body/div/div/div[@xml:id='myrddin_{{ myrddin_id }}_{{ poem_version }}_testun_mod']" emit="myrddin" subscribe="myrddin" disable-history="true" >
					{% if keyword %}
						<pb-param name="query" value="{{ keyword }}" />
					{% endif %}
					</pb-view>	    
				</pb-page>
			</div>
		</div>
	  </div>
	  <hr>

</div>
<script language="JavaScript">
	document.onreadystatechange = function() {
		// Set dropdown list values based on variable passed
		const manuscriptSelect = document.querySelector('#manuscript-select');
		console.log('manuscript version is {{ manuscript_version }}')
		manuscriptSelect.value = '{{ manuscript_version }}';
		document.querySelector('#manuscript-type-select').val('{{ manuscript_type_text }}');
		document.querySelector('#version-select').val('{{ poem_version }}');		

		// Reload page based on drop down menu selections
		document.querySelector(function(){
			document.querySelector("#version-select").change(function(){
				window.location='{{ request.path }}?v=' + this.value
			});
		});

		document.querySelector(function(){
			document.querySelector("#manuscript-select").change(function(){
				window.location='{{ request.path }}?v={{ poem_version }}&m=' + this.value
			});
		});	
		
		document.querySelector(function(){
			document.querySelector("#manuscript-type-select").change(function(){
				window.location='{{ request.path }}?v={{ poem_version }}&m={{ manuscript_version }}&mt=' + this.value
			});
		});
		
		// Javascript to enable link to tab
		var hash = location.hash.replace(/^#/, '');  // ^ means starting, meaning only match the first hash
		if (hash) {
			document.querySelector('.nav-tabs a[href="#' + hash + '"]').tab('active');
		} 

		// Change hash for page-reload
		document.querySelector('.nav-tabs a').on('shown.bs.tab', function (e) {
			window.location.hash = e.target.hash;
		})
	}
</script>
